<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>

<script type="text/javascript">
    var no = [${no}];
    alert(no);
</script>

<div style="left: 50%;width: 900px;padding: 0 200px">
<form action="/login/submit" method="post">
    学号：<br>
    <input type="text" class="form-control" placeholder="Username" th:placeholder="请输入学号" name="no">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</body>
</html>