<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncepu.dao.StudentDao">
    <select id="getStudentBySnm" resultMap="ST_StudentMap" parameterType="int">
        select * from st_student where S_Nm=#{s_no}
    </select>
    <resultMap id="ST_StudentMap" type="ST_Student">
        <result property="s_Year" column="s_Year"/>
        <result property="s_Nm" column="s_Nm"/>
        <result property="s_Clas" column="s_Clas"/>
        <result property="s_Nam" column="s_Nam"/>
        <result property="s_Sp" column="s_Sp"/>
        <result property="s_Sex" column="s_Sex"/>
        <result property="s_Ori" column="s_Ori"/>
        <result property="s_Add" column="s_Add"/>
    </resultMap>

    <select id="selectScoreBySnm" resultMap="ST_ScoreMap" parameterType="int">
        select * from st_score where S_Nm=#{S_Nm}
    </select>
    <resultMap id="ST_ScoreMap" type="ST_Score">
        <result property="T_No" column="t_No"/>
        <result property="S_Nm" column="S_Nm"/>
        <result property="C_NO" column="c_No"/>
        <result property="S_Ncor" column="s_Ncor"/>
        <result property="S_Mid" column="s_Mid"/>
        <result property="S_Fs" column="s_Fs"/>
        <result property="S_TO" column="s_To"/>
    </resultMap>

    <select id="selectScoreByCno" resultMap="ST_ScoreMap" parameterType="int">
        select * from st_score where c_no=#{C_NO} and s_nm=#{S_Nm}
    </select>
</mapper>