<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>

<form action="/login/submit" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1" value="no">教职工号</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>