<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信管专业学生成绩序列关联规则挖掘系统</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>

<form method="post" action="course">
    账号：<input type="text" class="text">
    <button type="submit" class="button" value="test"></button>
</form>

<table class="table">
    <caption>List of users</caption>
    <thead>
    <tr>
        <th scope="col">课程编号</th>
        <th scope="col">课程名</th>
        <th scope="col">讲授学时</th>
        <th scope="col">实践学时</th>
        <th scope="col">课程性质</th>
        <th scope="col">课程类别</th>
        <th scope="col">总学分</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${course}">
        <td th:text="${course.getC_No()}"></td>
        <td th:text="${course.getC_Name()}"></td>
        <td th:text="${course.getC_Ttim()}"></td>
        <td th:text="${course.getC_Prtim()}"></td>
        <td th:text="${course.getC_Natur()}"></td>
        <td th:text="${course.getC_Class()}"></td>
        <td th:text="${course.getC_Credit()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>