<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信管专业学生成绩序列关联规则挖掘系统</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>

<div class="jumbotron">
    <h1 class="display-4 text-center">信管专业学生成绩序列关联规则挖掘系统</h1>
    <p class="lead text-center">毕业设计 —— 马子恒 信管1802 经济与管理学院</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="loginTea" role="button" style="display:block;margin:0 auto;width: 105px;height: 45px">我是老师</a>
    <a class="btn btn-primary btn-lg" href="loginStu" role="button" style="display:block;margin:0 auto;width: 105px;height: 45px">我是学生</a>
</div>

</body>
</html>